<h1><%= @lesson.name %></h1>
<p>
  <%= link_to "Edit", edit_section_lesson_path(@section, @lesson)%> |
  <%= link_to "Delete", section_lesson_path(@section, @lesson), data: {
    confirm: "Are you sure you want to delete this lesson?",
    method: "delete"
  } %>
</p>
<p><%= @lesson.content %></p>
