<h1><%= @lesson.name %></h1>
<p>
  <%= link_to "Edit", edit_lesson_path(@lesson)%> |
  <%= link_to "Delete", lesson_path(@lesson), data: {
    confirm: "Are you sure you want to delete this lesson?",
    method: "delete"
  } %>
</p>
<p><%= @lesson.content %></p>
