@import "bootstrap-sprockets";
@import "bootstrap";

.alert h3 {
  margin-top: 0px;
}

@media screen and (max-width: 767px) {
  .navbar-default .navbar-header {
    display: flex;
    justify-content: space-between;
  }

  .navbar-default .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .navbar-default .navbar-nav li {
    display: block;
  }
}
